.container{
  align-content: center;
}

#page-title{
  color: #191970;
  margin-bottom: 50px;
}

#transportation-intro{
	color: #0000b3;
	text-align: center;
}


.transportation-icon{
	width: 50%;
	height: 50%;
	margin: 2rem 4rem 0 4rem;
}


.icon-name{
	background-color: #191970;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
	background-color : #e5e6e7;
}

.panel-body{
	background-color: #191970;
	align-content: center;
	height: 725px;
}

.map-title{
	color: #fff;
	text-align: center;
	font-size: 1.4em;
}

.map-intro{
	padding-top: 20px;
}

.transportation-icon-map{
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0; 
}

.map-style{
	border: none;
	margin : 0 0 0 45px;
	width: 92%;
	height: 600px;

}

.advertisement img{
	display: block;
	margin : 1em auto 0 auto;
	width: 100%;
}



@media only screen and (max-width: 768px){

		.container{
			
		}

		#page-title{
	  		font-size: 1.4em;
		}

		#transportation-intro{
			font-size: 1em;
		}

		.transportation-icon{
			width: 100%;
			height: 100%;
			margin: 0.8rem 5% 0 5%;
		}

		.icon-name{
			font-size: 0.5em;
			padding: 2px;
		}

		.transportation-icon-map{
			width: 30px;
			height: 30px;
			margin: 0 10px 0 0; 
		}

		.map-title{
			font-size: 0.8em;
		}

		.map-style{
			width:78%;
			height: 300px;
		}
		.panel-body{
			width: auto;
			height: 380px;
		}
	}
}