{% load static %}

<div class="panel-body">
        <div class="map-title">
            <p class="map-intro"><img src="{% static 'img/bus-icon-map.png' %}" class="transportation-icon-map">&nbsp;WHERE CAN I FIND BUS STOP? </p>
        </div>

       <iframe src="https://snazzymaps.com/embed/49952" class="map-style"></iframe>
</div>
