{% load static %}

<div class="panel-body">
        <div 	class="map-title">
            <p class="map-intro"><img src="{% static 'img/train-icon-map.png' %}" class="transportation-icon-map">&nbsp;WHERE CAN I FIND TRAIN STATION? </p>
        </div>

       <iframe src="https://snazzymaps.com/embed/49938" class="map-style"></iframe>
</div>
