{% extends "base.html" %}
{% load static %}

{% block title %}
KePantai
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<section name="home-intro" id="home-intro">
  <div class="back-pic" style="background-image:url(https://3.bp.blogspot.com/-Q4ChrWgqK50/V-tj-H9q3EI/AAAAAAAAEC8/_hP8U1AemM4ef3aXp7XM2Wd_go913vtOwCEw/s1600/Pantai%2BNglambor%2BLokasi.jpg); background-size: cover; height:100%; width: 100%;">
		<div class="container py-5 text-center">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="display-1" id="home-head">DISCOVER</h1>
          <p class="lead mb-5" id="home-desc">WONDERFUL BEACH IN JOGJAKARTA</p>
          <a href="{% url 'destination:destination-search-page' %}">
          	<img class="go-explore" src="{% static 'image/logo.png' %}">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section name="web-desc" id="web-desc">
	<br>
	<h1 id="webdesc-head" align="center" style="color: #000080; padding-bottom: 50px">WHY USE THIS WEBSITE</h1>
    <div class="container">
    <div class="box box-1">
      <div class="box1-kanan">
          <img class="logo-desc" src="{% static 'image/logo2.png' %}" style="float: right;">
      </div>
      <div class="box1-kiri">
        <h2 id="webdesc-detail">EASY TO USE</h2>
          <p class="">Simple design won't make you confused to get an information abut beach tourisms in Yogyakarta.</p>
      </div>
    </div>
</div>
    <div class="container">
    <div class="box box-2" style="padding-left: 25%">
      <div class="box2-kiri">
        <h2 id="webdesc-detail" align="right">UP TO DATE INFORMATIONS</h2>
          <p class="" align="right">The latest information about beach tourism in Yogyakarta will give you trusted information.</p>
      </div>
      <div class="box2-kanan">
        <img class="logo-desc" src="{% static 'image/logo3.png' %}" style="float: left;">
      </div>
    </div>
<div class="container">
    <div class="box box-3">
      <div class="box1-kanan">
          <img class="logo-desc" src="{% static 'image/logo4.png' %}" style="float: right;">
      </div>
      <div class="box1-kiri">
        <h2 id="webdesc-detail">COMPLETE INFORMATIONS</h2>
          <p class="">You can get all informations about beach tourisms in Yogyakarta.</p>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div class="box box-4" style="padding-left: 25%">
      <div class="box2-kiri">
        <h2 id="webdesc-detail" align="right">REAL TRAVELER REVIEWS</h2>
          <p class="" align="right">Verified reviews who went to the beach in Yogyakarta will help you make the right decisions.</p>
      </div>
      <div class="box2-kanan">
          <img class="logo-desc" src="{% static 'image/logo5.png' %}" style="float: left;">
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script>
  $.fn.extend({
    animateCss: function (animationName) {
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        this.addClass('animated ' + animationName).one(animationEnd, function() {
            $(this).removeClass('animated ' + animationName);
        });
        return this;
    }
});


var flag1 = false;
var flag2 = false;
var flag3 = false;
var flag4 = false;

window.addEventListener("scroll", Animation);
function Animation()
{

  var box1 = $('.box-1');
  var box2 = $('.box-2');
  var box3 = $('.box-3');
  var box4 = $('.box-4');

  
  var isElementInView1 = Utils.isElementInView(box1, false);
  var isElementInView2 = Utils.isElementInView(box2, false);
  var isElementInView3 = Utils.isElementInView(box3, false);
  var isElementInView4 = Utils.isElementInView(box4, false);


  if(flag1 != isElementInView1) {
    flag1 = isElementInView1
    if(flag1 == true){
      box1.animateCss('animated fadeInRight');
    }
  }

  if(flag2 != isElementInView2) {
    flag2 = isElementInView2
    if(flag2 == true){
      box2.animateCss('animated fadeInLeft');
    }
  }

  if(flag3 != isElementInView3) {
    flag3 = isElementInView3
    if(flag3 == true){
      box3.animateCss('animated fadeInRight');
    }
  }

  if(flag4 != isElementInView4) {
    flag4 = isElementInView4
    if(flag4 == true){
      box4.animateCss('animated fadeInLeft');
    }
  }
}

function Utils() {

}

Utils.prototype = {
    constructor: Utils,
    isElementInView: function (element, fullyInView) {
        var pageTop = $(window).scrollTop();
        var pageBottom = pageTop + $(window).height();
        var elementTop = $(element).offset().top;
        var elementBottom = elementTop + $(element).height();

        if (fullyInView === true) {
            return ((pageTop < elementTop) && (pageBottom > elementBottom));
        } else {
            return ((elementTop <= pageBottom) && (elementBottom >= pageTop));
        }
    }
};

var Utils = new Utils();
</script>
{% endblock %}