{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Find destination
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/beach_details.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/font/flaticon.css' %}" />
{% endblock %}

{% block content %}
<header id="cover" style="background-image: url('{{beach.cover_picture}}')">
  <p hidden id="beach-name-hidden">{{beach.name}}</p>
  <h1 id="beach-name">{{beach.name}} Beach</h1>
  <p id="id-beach" hidden>{{beach.pk}}</p>
</header>

<section id="explanation">
  <div class="container">
    <div class="row">
        <div class="col-md-5 col-lg-4" id="description-column">
        {% for photo in list_photo %}
          <img src="{{photo.picture}}" alt="" id="more-photo">
        {% endfor %}
      </div>
        <div class="col-md-7 col-lg-8" id="description-column">
        <h1 id="explanation-title">DESCRIPTION</h1>
        <div class="row" id="column">
            <a href="#a" id="location-a">LOCATION</a>
            <a href="#a" class="each-column" id="activities-a">ACTIVITIES</a>
            <a href="#a" class="each-column" id="event-and-festival-a">EVENT & FESTIVALS</a>
            <a href="#a" class="each-column" id="price-a">PRICE</a>
        </div>
        <div id="description-content">
          <div>
            <p id="content">{{beach.location_description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="advance-information">
  <div class="container" id="">
    <div class="row">
      <div class="col-md-2" id="advance-information-icon">
        <a href="#a" class="advance-information" id="route-a">
          <i class="flaticon-distance-to-travel-between-two-points"></i>
          <br>
          <p id="startRoute">ROUTE</p>
        </a>
        <a href="#a" class="advance-information" id="transportation-a">
          <i class="flaticon-transport"></i>
          <br>
          <p>TRANSPORTATION</p>
        </a>
        <a href="#a" class="advance-information" id="souvenirs-a">
          <i class="flaticon-store"></i>
          <br>
          <p>SOUVENIRS</p>
        </a>
        <a href="#a" class="advance-information" id="restaurant-a">
          <i class="flaticon-dinner"></i>
          <br>
          <p>RESTAURANT</p>
        </a>
        <a href="#a" class="advance-information" id="accomodation-a">
          <i class="flaticon-hotel-building"></i>
          <br>
          <p>ACCOMODATION</p>
        </a>
        <a href="#a" class="advance-information" id="real-time-a">
          <i class="flaticon-eye"></i>
          <br>
          <p>REAL TIME</p>
        </a>
      </div>
      <div class="col-md-10" id="map">
          <iframe src="{{beach.frame_location}}" width="100%" height="596px" style="border:none;"></iframe>
      </div>
    </div>
  </div>
</section>

<section id="review">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="row" id="profile-review">
          <div class="col-md-6" style="padding: 0;">
            <img src="{{review.profile_picture}}" alt="" id="profile-picture" style="float: left">
          </div>
          <div class="col-md-6" style="padding: 0;" id="review-user-data">
            <h5 id="review-name">{{review.user_name}}</h5>
            <p style="margin-bottom: 1%;">from {{review.user_from}}</p>
            <p>{{review.rating}} / 5</p>
          </div>
        </div>
        <div class="row">
          <h5 style="margin-top: 5%;" id="review-beach-name">{{review.beach_name}}</h5>
          <p id="review-content">"{{review.content}}"</p>
        </div>
      </div>
      <div class="col-md-7">
        <img src="{{review.picture}}" alt="" style="border: 5px solid white;" id="review-image">
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
  <!-- javascript beach_details -->
  <script type="text/javascript" src="{% static 'js/dataPantai.json' %}"></script>
  <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
  <script src="{% static 'js/beach_details.js' %}"></script>


  <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3.30
        &key=AIzaSyCL80yP6FbvN-vz-HMqbeFbpId68_azpYk&libraries=places"></script>
{% endblock %}
