{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Find destination
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/destination.css' %}" />
{% endblock %}

{% block content %}
<section class="container">
  <h1 id="page-title">DESTINATIONS</h1>

  <nav id="dropdown-section">
    <nav class="row">
      <nav class="col-md-6 col-xl-6">
        <select class="" name="" id="beach-name-selection">
          <option value="">Select by name</option>
          <option value="all">All Beach</option>
        </select>
      </nav>
    </nav>
    <nav class="row">
      <nav class="col-md-6 col-xl-6">
        <select class="" name="" id="beach-category-selection">
          <option value="">Search by category</option>
          <option value="Legend">Legend</option>
          <option value="Ritual">Ritual</option>
          <option value="Camp">Camp</option>
          <option value="Fishing">Fishing</option>
        </select>
      </nav>
    </nav>
  </nav>

  <nav id="content-section">
    {% if single_beach > 0 %}
      <nav class="row">
        <nav class="col-md-6" id="picture-section">
          <img src="{{beach.display_picture}}" alt="" id="each-beach-picture">
        </nav>
        <nav class="col-md-6" id="picture-explanation">
          <h2 id="beach-name">{{beach.name}} Beach</h2>
          <p id="beach-description">{{beach.description}}</p>
          <a href="{% url 'destination:beach-details' beach.id %}" id="button-more" class="btn">KNOW MORE</a>
        </nav>
      </nav>
    {% else %}
      {% for beach in list_beach %}
        <nav class="row">
          <nav class="col-md-6" id="picture-section">
            <img src="{{beach.display_picture}}" alt="" id="each-beach-picture">
          </nav>
          <nav class="col-md-6" id="picture-explanation">
            <h2 id="beach-name">{{beach.name}} Beach</h2>
            <p id="beach-description">{{beach.description}}</p>
            <a href="{% url 'destination:beach-details' beach.id %}" id="button-more" class="btn">KNOW MORE</a>
          </nav>
        </nav>
        <hr>
      {% endfor %}
    {% endif %}
  </nav>

</section>
{% endblock %}

{% block javascript %}
  <!-- javascript destination_search_page -->
  <script src="{% static 'js/destination_search_page.js' %}"></script>
{% endblock %}
