<style media="screen">
  #footer{
    height:40px;
    background-color: #000080;
    text-align: center;
    font-weight: 500;
    color: white;
  }
  @media (max-width: 369px) {
    h5{
      font-size: 1.1rem;
    }
  }
</style>

<div class="" id="footer">
  <h5>&copy;KePantai.com</h5>
</div>
