{% load static %}
<style media="screen">
  .navbar{
    height: 50px;
    background-color: #000080;	
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
}

@media only screen and (max-width: 768px){
  .navbar-nav{
    background-color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
}

}
</style>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="z-index: 1;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="{% url 'home:index' %}"><img src="{% static 'image/kepantai.png'%}" width="150" height="40" class="d-inline-block align-top" alt=""> </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'destination:destination-search-page' %}">Destination</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'transportation:transportation_page' %}">Transportation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'review:index' %}">Review</a>
      </li>
      <li class="nav-item" style="margin-left: 10px; padding-top: 5px" >
        <a href="#"><img src="{% static 'image/indoflag.png' %}" width="40" height="30" title="Bahasa Indonesia"></a>
      </li>
    </ul>
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
</div>
</nav>