iframe{
  height: 596px;
}
#cover{
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: 8em 0 6em 0;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 0;
  min-height: 50vh;
  height: 50vh !important;
  position: relative;
  text-align: center;
  overflow: hidden;
}
#location-a, #activities-a, #event-and-festival-a, #price-a{
  margin-right: auto;
}
#real-time-status{
  color: #000080;
}
#beach-name{
  text-transform: uppercase;
  bottom: 8px;
  right: 16px;
  position: absolute;
  color: white;
}
#explanation{
  background-color: #000080;
  padding: 2% 0;
}
#explanation-title{
  color: white;
}
#more-photo{
  width: 300px;
  height: 150px;
  border: 4px solid white;
  margin: 1%;
}
a{
  color: white;
}
#description-content{
  font-weight: 600;
  color: white;
  margin-top: 7%;
}
#advance-information{
  padding: 2% 0;
  margin-bottom: 5%;
}
#advance-information-icon{
  font-weight: 600;
  text-align: center;
}
.advance-information{
  color: #000080;
}
.map-style{
  width: 100%;
  height: 100%;
}
#review{
  padding: 2% 0;
  background-color: #000080;
  color: white;
}
#profile-picture{
  height: 100px;
  width: 100px;
  border-radius: 12px;
  border: 5px solid white;
}
#review-name{
  margin-bottom: 1%;
}
#review-image{
  width: 100%;
  height: 75%;
}
#review-user-data{
  left: -120px;
}
@media (min-width: 2559px) {
  #cover{
    min-height: 35vh;
    height: 35vh !important;
  }
  #beach-name{
    font-size: 5rem;
  }
  #more-photo{
    width: 340px;
    height: 220px;
  }
  #explanation-title{
    font-size: 4rem;
  }
  #column{
    margin: auto;
    font-size: 1.26rem;
  }
  #content{
    font-size: 1.6rem;
  }
  #review-user-data{
    font-size: 1.4rem;
  }
  #review-beach-name{
    font-size: 2rem;
  }
  #review-content{
    font-size: 1.4rem;
  }
}
@media (max-width: 997px) {
  #beach-name{
    font-size: 2rem;
  }
  #explanation-title{
    font-size: 1.8rem;
  }
  #more-photo{
    width: 100%;
    height: 190px;
  }
  #column{
    font-size: 0.8rem;
    margin: auto;
  }
  #content{
    font-size: 0.9rem;
  }
  #review-content{
    font-size: 0.9rem;
  }
  @media (max-width: 992px) {
    #review-user-data{
      left: -40px;
    }
  }
}
@media (max-width: 768px) {
  iframe{
    height: 350px;
  }
  #review-user-data{
    left: 110px;
    bottom: 100px;
  }
  #beach-name{
    font-size: 1.6rem;
  }
   #more-photo{
    width: 100%;
    height: 220px;
    border: 2px solid white;
    border-radius: 12px;
  }
  #description-column{
    padding: 0 4%;
  }
  #explanation-title{
    font-size: 1.5rem;
  }
  #content{
    font-size: 0.8rem;
  }
  #map{
    height: 350px;
    margin-bottom: 5%;
  }
  #review{
    padding: 2%;
  }
  #profile-review{
    height: 100px;
  }
  #review-image{
    height: 90%;
  }
}
@media (max-width: 409px) {
  #column{
    margin: auto;
    font-size: 0.7rem;
  }
}
@media (max-width: 369px) {
  #column{
    margin: auto;
    font-size: 0.5rem;
  }
}
@media (min-width: 1200px) {
  #column{
    margin: auto;
  }
}
@media (min-width: 992px) {
  #column{
    margin: auto;
  }
}
