.container{
  margin: 0 5% 0 5%;
}
#page-title{
  color: #000080;
}
#beach-name-selection, #beach-category-selection{
  width: 80%;
  margin: 7px 0 7px 0;
  height: auto;
  border-radius: 12px;
  border: 4px solid #000080;
  color: #000080;
  font-weight: 700;
}
#option-nama{
  text-transform: capitalize;
}
#each-beach-picture{
  width: 480px;
  height: 240px;
  border-radius: 12px;
  border: 2px solid #000080;
  padding: 1%;
  margin: 0;
  max-width: 100%;
}
#picture-section, #picture-explanation{
  margin: 2% 0;
}
#beach-name{
  text-transform: uppercase;
  background-color: #000080;
  color: white;
  font-weight: 700;
  width: fit-content;
  padding: 0.7%;
}
#beach-description{
  color: #000080;
  font-weight: 600;
}
#button-more{
  border-radius: 12px;
  background-color: #000080;
  color: white;
  font-weight: 700;
  border: 2px solid #000066;
}
#button-more:hover{
  background-color: #0000cc;
}
#search-button-name, #search-button-category{
  border-radius: 50%;
  border: 2px solid #000066;
}
@media (min-width: 1025px) {
  .container{
    margin: auto;
  }
}
