    /*
    Flaticon icon font: Flaticon
    Creation date: 16/02/2018 16:28
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-eye:before { content: "\f100"; }
.flaticon-hotel-building:before { content: "\f101"; }
.flaticon-dinner:before { content: "\f102"; }
.flaticon-transport:before { content: "\f103"; }
.flaticon-stacked-travelling-cars-frontal-view:before { content: "\f104"; }
.flaticon-distance-to-travel-between-two-points:before { content: "\f105"; }
.flaticon-store:before { content: "\f106"; }
    
    $font-Flaticon-eye: "\f100";
    $font-Flaticon-hotel-building: "\f101";
    $font-Flaticon-dinner: "\f102";
    $font-Flaticon-transport: "\f103";
    $font-Flaticon-stacked-travelling-cars-frontal-view: "\f104";
    $font-Flaticon-distance-to-travel-between-two-points: "\f105";
    $font-Flaticon-store: "\f106";