	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/02/2018 16:28
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 40px;
  font-style: normal;
  /* margin-left: 25px; */
}

.flaticon-eye:before { content: "\f100"; }
.flaticon-hotel-building:before { content: "\f101"; }
.flaticon-dinner:before { content: "\f102"; }
.flaticon-transport:before { content: "\f103"; }
.flaticon-stacked-travelling-cars-frontal-view:before { content: "\f104"; }
.flaticon-distance-to-travel-between-two-points:before { content: "\f105"; }
.flaticon-store:before { content: "\f106"; }
