.review-form{
	width: 50%;
}
#review{
  padding: 2% 0;
  background-color: #000080;
  color: white;
}
#profile-picture{
  height: 100px;
  width: 100px;
  border-radius: 12px;
  border: 5px solid white;
}
#review-name{
  margin-bottom: 1%;
}
#review-image{
  width: 100%;
  height: 75%;
}
#review-user-data{
  left: -120px;
}

@media (min-width: 2559px) {
  #review-user-data{
    font-size: 1.4rem;
  }
  #review-beach-name{
    font-size: 2rem;
  }
  #review-content{
    font-size: 1.4rem;
  }
}

@media (max-width: 997px) {
  #review-content{
    font-size: 0.9rem;
  }
  @media (max-width: 992px) {
    #review-user-data{
      left: -40px;
    }
  }
}

@media only screen and (max-width: 768px){
	.review-form{
		width: 100%;
	}
	#review-user-data{
    left: 110px;
    bottom: 100px;
  }
  #review{
    padding: 2%;
  }
  #profile-review{
    height: 100px;
  }
  #review-image{
    height: 90%;
  }
}