{% extends "base.html" %}
{% load static %}

{% block title %}
    Transportation
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/transportation.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
{% endblock %}


{% block content %}
	<div class="container">
		
		<h1 id="page-title">TRANSPORTATIONS</h1>

		<h4 id="transportation-intro">WHICH TRANSPORT WOULD YOU PREFER?</h4>
		<!-- Nav tabs -->
		<ul class="nav nav-pills" role="tablist">
		  <li class="nav-item flex-wrap">
		    <a class="nav-link" data-toggle="tab" href="#airplane" role="tab">
		    	<img src="{% static 'img/plane-icon.jpg' %}" class="transportation-icon">
		    	<p class="icon-name">AIRPLANE</p>
		    </a>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#bus" role="tab">
		    	<img src="{% static 'img/bus-icon.png' %}" class="transportation-icon">
		    	<p class="icon-name">BUS</p>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#train" role="tab">
		    	<img src="{% static 'img/train-icon.png' %}" class="transportation-icon">
		    	<p class="icon-name">TRAIN</p>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#car-rental" role="tab">
		    	<img src="{% static 'img/car-icon.jpg' %}" class="transportation-icon">
		    	<p class="icon-name">RENT A CAR</p>
		    </a>
		  </li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="airplane" role="tabpanel">
		  	{% include 'content/airplane.html' %}
		  </div>
		  <div class="tab-pane" id="bus" role="tabpanel">
		  	{% include 'content/bus.html' %}
		  </div>
		  <div class="tab-pane" id="train" role="tabpanel">
		  	{% include 'content/train.html' %}
		  </div>
		  <div class="tab-pane" id="car-rental" role="tabpanel">
		  	{% include 'content/car_rental.html' %}
		  </div>
		</div>
		
		<div class="advertisement">
			<img src="{% static 'img/ads_example.png' %}">
		</div>

	</div>
{% endblock %}


