{% extends "base.html" %}
{% load static %}

{% block title %}
  Searching Route
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
{% endblock %}


{% block content %}
	<div class="pac-card" id="pac-card">
      <div>
        <div id="title">
          Searching Route
        </div>
      </div>

      <div id="pac-container">
        <label for="startFrom" class="label-search">From :</label>
        <input class="map-input" id="startFrom" type="text"
            placeholder="Enter a location">
        <label for="finishTo" class="label-search">To :</label>
        <input class="map-input" id="finishTo" type="text"
            placeholder="Enter a location">
      </div>

      <div id="floating-panel">
        <b>Mode of Travel: </b>
        <select id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
        </select>
        <div class="btn btn-primary" id="search">Enter</div>
      </div>

    </div>

    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>	
 
  {% endblock %}
  
  {% block javascript %}
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL80yP6FbvN-vz-HMqbeFbpId68_azpYk&libraries=places&callback=initMap"
      async defer></script>
  {% endblock %}


