{% extends "base.html" %}
{% load static %}

{% block title %}
Review
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}" />
{% endblock %}

{% block content %}
<section>
	<div class="container" style="margin-top: 20px">
		<h1 style="margin-bottom: 0px">REVIEW COLUMN</h1>
		<p>GIVE SOME REVIEW OF YOUR ADVENTURE!</p>
		<form class="review-form">
            <div class="form-group"> <label for="InputName">Name</label>
              <input type="text" class="form-control" id="InputName" placeholder="Name"> </div>
            <div class="form-group"> <label for="InputEmail1">From</label>
              <input type="email" class="form-control" id="InputEmail1" placeholder="From"> </div>
            <div class="form-group"> <label for="InputEmail1">Where did you go?</label><br>
              <select>
				  <option value="Beach1">Parangtritis Beach</option>
				  <option value="Beach2">Goa Cemara Beach</option>
				  <option value="Beach3">Baron Beach</option>
				  <option value="Beach4">Sadeng Beach</option>
				  <option value="Beach5">Glagah Beach</option>
				</select>
			</div>
            <div class="form-group"> <label for="Textarea">Review</label> <textarea class="form-control" id="Textarea" rows="4" placeholder="Your review"></textarea> </div>
            <button type="submit" class="btn btn-secondary" onclick="myFunction()">Submit</button>
          </form>
	</div>
</section>
<br>

<section id="review">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="row" id="profile-review">
          <div class="col-md-6" style="padding: 0;">
            <img src="https://kepantai.herokuapp.com/media/goacemara/anon4.jpg" alt="" id="profile-picture" style="float: left">
          </div>
          <div class="col-md-6" style="padding: 0;" id="review-user-data">
            <h5 id="review-name">Harry</h5>
            <p style="margin-bottom: 1%;">from Singapore</p>
            <p>4 / 5</p>
          </div>
        </div>
        <div class="row">
          <h5 style="margin-top: 5%;" id="review-beach-name">Goa Cemara Beach</h5>
          <p id="review-content">"Gonna switched to 4 wheel to get here. The ride is extremly long and bumpy. So mch so u feel like throwing out. After watching running man, well.. thanks to Lee Gwang Soo. I told myself I must try this! We reached in the evening. My driving literally sped to get us to destination. So much so we have to skip lunch. Sunser was lovely, that i have to admit! I love the sound of the waves and the wind slapping on my cheeks for sure!"</p>
        </div>
      </div>
      <div class="col-md-7">
        <img src="https://kepantai.herokuapp.com/media/goacemara/review_goacemara.jpg" alt="" style="border: 5px solid white;" id="review-image">
      </div>
    </div>
  </div>
</section>
<!-- <section class="review user" style="background-color: #000080">
	<div class="container">
		<div class="row">
			<div class="col-left" align="middle" style="color: white">
				<h2>LUCAS HANSEL</h2>
				<h4>Canada</h4>
			</div>
			<div class="col-right">
				
			</div>
		</div>
	</div>
</section> -->
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	function myFunction(){
		alert('Thank you for taking your time for the review.')
		location.reload()
	}
</script>

{% endblock %}