.box1-kiri {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.box1-kanan {
  width: 30%;
  justify-content: center;
  align-items: center;
}

.box2-kiri {
  width: 55%;
  justify-content: right;
  align-items: right;
  float: right;
  margin-right: 30px;
}

.box2-kanan {
  width: 25%;
  justify-content: center;
  align-items: center;
}

.box{
  display: flex;
  margin-bottom: 50px;
}
.back-pic{
	display: block;
    background: #CFF;
    height:100%;
    width:100%;
    padding: 130px;
    padding-left: 120px;
    box-sizing:border-box;
}

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

.logo-desc{
  height: 150px;
  width: 150px;
}

.go-explore{
    width: 250px;
  }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@media only screen and (max-width: 768px){
  .back-pic{
    display: flex;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45%;
    padding-bottom: 45%;
  }

  #home-head{
    font-size : 3.8em;
  }

  #home-desc{
    font-size: 0.9em;
    color: black;
    font-weight: 400;
  }

  .go-explore{
    width: 150px;
  }

  #webdesc-head{
    font-size: 1.8em;
  }

  #webdesc-detail{
    font-size: 1.2em;
  }

  .logo-desc{
    width: 80px;
    height: 80px;
  }

  .container{

  }
}
